body{
    background-color: #A9905F;
}
header {
  color: #3A405F;
  /*background-color: #A9405F;*/
  background-color: #A940EF;

}

section h1 {
  font-size: calc(1.5rem + 4vw);
}
nav{
  background-color: rgba(0,0,0,.6);
}

li{
  border: 1px solid #77b020;
}
li a {
  color: #A9405F;
  font-size: 1.5rem;

}


li a:hover {
  background-color: #F990AF;
}

aside {

  color: #A9F05F;
  background-color: #A9905F;
}

body>section {
  color: #AAD0EF;
  background-color: transparent;
}

footer {
  background: linear-gradient(#A90000, #E96020, #F9B930, #4000FF, #9000FF);
  text-align: center;
  color: #3A40EF;
  font-size: 1.5rem;
}


section:nth-child(1), body>section,
aside, footer {
  font-size: 3rem;
}
