header,nav, article, aside, footer, a{
  font-size: 1.5rem;
}
header{
  color: #0ca3fc;
  background-color: #0c04bc;
}
nav{
  color: #f6d140;
  background-color: #b60090;
}
a{
  color: inherit;
}

a:hover{
  color: #b60090;
  background-color: #f640d0;

}

article{
  color: #772020;
  background-color: #d78080;
}
aside{
  color: #f6d140;
  background-color: #b69100;
}

footer{
  color: #0000ff;
  background-color: #9090d9;
}
