body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header, article, aside, footer, section {
  width: 100%;
}

header, aside, footer, article {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 20vh;
}

section {
  height: 75vh;
}

nav {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div {
  height: 100%;
}

button, li a{
  height: 100%;
  padding: 0 8px;
}

article {
  height: 70%;
}

aside {
  height: 20%;
}

footer {
  height: 5vh;
}

p {
  padding: 10px;
}
