
article{
  width: 60%;
  height: 75vh;
  order: 2;
}
aside{
  font-size: 3vw;
  width: 20%;
  height: 75vh;
}
aside:nth-child(3){
  order: 1;
}
aside:nth-child(4){
  order: 3;
}
footer{
  height:5vh;
  order: 4;
}
