button{
  border: 3px solid;
  border-color: #ccc #333 #333 #ccc;
  border-radius: 20px;
  background-color: #0cbaba;
  background-image:linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  color:#ddd;
  font-size: 15px;
  box-shadow: 0 6px #999;
  margin: 10px;
  min-width: 200px;
}
button:hover{
  border-color: #333 #ccc #ccc #333;
  background-color: #20bf55;
  background-image:linear-gradient(315deg, #20bf35 0%, #01baef 74%);
  color: #fc575e;
}
button:active{
  box-shadow: 0 2px #666;
  transform: translateY(4px);
  background-color: #90d5ec;
  background-image:linear-gradient(315deg, #90d5ec 0%, #fc575e 74%);
  border-color: #650b65;
  color:#2a2a72;
}

button:focus{
  outline:0;

}
